<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

body{
    background-color: white;
    margin: 0px;
    font-family: Charcoal, Courier New, monospace;
}
h2{
    margin-top:0%;
    margin-bottom: 0px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    transition-duration: 0.4s;
}
h1:hover{
    color:white;
}
p.heading{
    font-family: "Montserrat", Courier New, monospace;
}
hr{
    border: 2px solid grey;
}
.net{
    max-height: 100%;
    max-width: 15%;
    padding: 5%;
    padding-top: 0px;
    padding-bottom: 2%;
    padding-left: 10%;
}
.git{
    max-height: 100%;
    max-width: 20%;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0px;
}

.c{
    max-height: 100%;
    max-width: 15%;
    padding: 5%;
    padding-top: 0px;
    padding-bottom: 2%;
    padding-right: 10%;
}
.css{
    max-height: 100%;
    max-width: 30%;
    padding-bottom: 0%;
    padding-left: 15%;
    padding-top: 0px;
}
.java{
    max-height: 100%;
    max-width: 100%;
    min-width: 25%;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0%;
    padding-right: 15%;
}
.box{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px -5px rgba(0,0,0,.5);
    margin-top: 10%;
}

.purple{
    background-color: rgba(202,138,250,0.3);
}
.maintext{
  margin-left: 10%;
  margin-right: 10%;
  font-family:"Montserrat", sans-serif;
  line-height: 2;
  background-color: white;
  font-size: 20px;
}

.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,1);
  border-top: transparent;
}

.navbar a {
  float: left;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  width: 25%; 
  text-align: center;
  border-bottom: 5px solid transparent;
  border-top: transparent;
  padding-left: 0px;
  padding-right: 0px;
 background-image:     linear-gradient(90deg, rgba(202,138,250,0.9920343137254902) 5%, rgba(249,73,156,1) 56%, rgba(250,141,156,1) 81%, rgba(247,156,156,1) 87%);
     /*
    linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    linear-gradient(90deg, rgba(202,138,250,0.9920343137254902) 5%, rgba(249,73,156,1) 56%, rgba(250,141,156,1) 81%, rgba(247,156,156,1) 87%);
    */
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0px 100%;
  transition: background-size 0.25s ease-in;
 
}
.navbar a:hover {
    background-size: 100% 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  position: absolute;
  top: 75%;
  right: 50%;
  transform: translate(50%, -50%);
}
.container p {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container span.typed-text {
    font-family:"Montserrat", sans-serif;
  font-weight: normal;
    font-size: 25px;
}
.container span.cursor {
  display: inline-block;
  margin-left: .2rem;
  width: 4px;
  height: 30px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: white; }
  49% { background-color: white; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: white; }
}
.top-container {
  color: white;
  background: url(graymountaincopy.jpg) 0px 0px/ 100% 100% no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 45%;
  text-align: center;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  position: relative;
}
.circle{
    max-width: 100px;
      max-height: 100px;
      background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
      border-radius: 50%;
}
.portrait{
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
    max-width: 15%;
    height:auto;
    border-radius: 200px;
}

.title{
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
}
.picture{
    background-color: white;
}
.rectangle{
    height:22px;
    background-color: white;
}
.header {
  padding: 0 px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
.icons{
    align-self: center;
    
}
.boxes{
    text-align: center;
}
.project{
    display: inline-block;
    padding:10px;
    max-width: 100%;
    min-width: 100px;
    min-height: 150px;
    max-height: 100%;
    border-radius: 10%;
    background-color: aliceblue;
    border: 6px solid white;
}
.project:hover{
    border: 6px solid transparent; 
    background-image:linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    background:grey;
}
.fa-linkedin {
  background: black;
  color: white;
}
.fa-github {
    background: black;
    color: white;
}
.fa-envelope{
    background: black;
    color: white;
}